<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='admin_dashboard.css') }}">
  <title>Admin Dashboard</title>
</head>

<body>
  <h1>Welcome Admin!</h1>
  <p>You are logged in as <strong>Admin</strong>.</p>

  <div class="nav">
    <a href="{{ url_for('admin.users') }}">Manage Users</a>
    <a href="{{ url_for('admin.files') }}">Manage Files</a>
    <a href="{{ url_for('admin.admin_logout') }}">Logout</a>
  </div>
</body>

</html>