<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin-User Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='user_data.css') }}">
</head>

<body>
    <h1>Files</h1>

    {% if err %}
    <p class="error-msg">{{ err }}</p>
    {% endif %}

    {% if data %}
    <p style="text-align: center; font-weight: bold;">Total Files Are: {{ total }}</p>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Year</th>
            <th>Branch</th>
            <th>Sem</th>
            <th>Subject</th>
            <th>FileName</th>
            <th>Uploaded By</th>
            <th>Uploaded At</th>
            <th>Action</th>
        </tr>
        {% for user in data %}
        <tr>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
            <td>{{ user[5] }}</td>
            <td>{{ user[6] }}</td>
            <td>{{ user[7] }}</td>
            <td>{{ user[8] }}</td>
            <td>{{ user[10] }}</td>
            <td>{{ user[11] }}</td>
            <td>
                <form method="post" onsubmit="return confirm('Are you sure you want to delete this user?');"
                    style="display:inline;">
                    <button class="delete-btn" name="user_id" value="{{ user[0] }}">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>

</html>