<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='preview.css') }}">

  <title>Preview {{ filename }}</title>
</head>

<body>

  <div class="topbar">
    <div>NotesApp Preview</div>
    <span class="filename">{{ filename }}</span>
  </div>

  <div class="content">
    {% if preview_supported %}
    {% if filetype == "text/plain" %}
    <pre>{{ filedata | safe }}</pre>
    {% else %}
    <iframe src="data:{{ filetype }};base64,{{ filedata }}"></iframe>
    {% endif %}
    {% else %}
    <div class="error">
      {{ error }}
    </div>
    {% endif %}
  </div>


  <div class="footer">
    &copy; 2025 NotesApp
  </div>

</body>

</html>