<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
  <title>User Profile</title>
</head>

<body>
  <div class="profile-card">
    <img src="https://ui-avatars.com/api/?name={{ user[1] }}&background=0D8ABC&color=fff&rounded=true&size=120"
      alt="User Avatar">
    <h2>{{ user[1] }}</h2>
    <p>{{ user[3] }}</p>

    <hr>

    <div class="profile-info">
      <h6><strong>Joined:</strong> {{ user[4] }}</h6>
      <small>Files Uploaded: <strong>{{ notes_count }}</strong></small>
    </div>

    <a href="/" class="btn-back">Back to Dashboard</a>
  </div>

</body>

</html>